<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MPX68K</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dim</string>
				<string>xdf</string>
				<string>2hd</string>
				<string>d88</string>
				<string>hdm</string>
				<string>hdf</string>
				<string>hds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FDD</string>
			<key>CFBundleTypeName</key>
			<string>MPX68K Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>NANKIN.X68000.1.FDD</string>
				<string>NANKIN.X68000.1.HDD</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>937</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>MPX68KのROMファイルとディスクイメージにアクセスするために必要です</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>ダウンロードフォルダからディスクイメージを読み込むために必要です</string>
	<key>NSHumanReadableCopyright</key>
	<string>2026 Yoshiharu "Awed" DEWA</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPX68K Floppy Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>FDD</string>
			<key>UTTypeIdentifier</key>
			<string>NANKIN.X68000.1.FDD</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dim</string>
					<string>xdf</string>
					<string>2hd</string>
					<string>d88</string>
					<string>hdm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPX68K Hard Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>HDDIcon</string>
			<key>UTTypeIdentifier</key>
			<string>NANKIN.X68000.1.HDD</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hdf</string>
					<string>hds</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
